@(entries:List[com.google.gdata.data.youtube.VideoEntry])

@video_entry(i:Int) = {
     <li class="span6" style="position: relative;">
           
    			<a href="@entries.get(i).getHtmlLink().getHref()" class="thumbnail">
    				<img src="@entries.get(i).getMediaGroup().getThumbnails().get(1).getUrl()" />
    				
    			</a>
    			<div class="videocap">
    				<div class="title">
    					@entries.get(i).getTitle().getPlainText()
    				</div>
    			</div>
  	 </li>
}

@main("Youtube test") {
   <div class="navbar">
   	 <div class="navbar-inner">
    	<div class="container">
  	 		<a class="brand" href="#">Videomag</a>   
  	 		<ul class="nav pull-right">
  	 			<li id="faceuser"><a href="#" onclick="loginFB(); return false;">Login with Facebook</a></li>
  	 		</ul>
  	 	</div>
  	 	
  	 </div>  	 		
   </div> 
   
   <div class="span12">
   <ul class="thumbnails">
    
    @for(i<-0 until entries.length) {
	    
		@video_entry(i)
	} 
	
	</ul>
	</div>

	@fbconnect("290247884332061","publish_actions, user_actions.video")    
}
